
#top {
    color: white;
    padding: 2px;
    margin: 10px 20px 20px 20px;
}

.barra-navegador{
    position: relative;
    margin-top: 45px;
    
}

 .navbar-custom {
     background-color: #6cc872;
     border-color: #000;
     
}
.color-pagina{
    background-color: #6cc872;
}

.barra-pie{
  padding: 5px;
}

.panel-custom > .panel-custom-pie {
    margin-left: 200px;
    margin-right: 200px;
}

.panel-custom > .panel-heading-custom {
  color: #333;
  background-color: #6cc872;
  border-color: #6cc872;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 10px 15px;
  border-bottom: 2px solid;
  border-right: 1px solid;
  
}





#top_foto{
    padding-top: 30px;
    padding-left: 20px;
    
}

#left {
    float: left;
    background-color: #d5d5d5;
    padding: 5px;
    width: 200px;
    margin-left: 10px;
    height:auto;
    float: next;
    
}

#limpiarFloat{
    float:left;
}

#right {
    
    background-color: #ece3a5;
    padding: 5px;
    width: 180px;
    
    
    
}

#contenedor{
   
    
}


.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 240px;
    max-width: 1800px;
    margin-right: 5%;
    min-width: 650px;
    
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    
}

#top a:link, #top a:visited {
  color: #888;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


