
#top {
    position: relative;
    
   float: end;
    color: white;
    padding: 2px;
    margin: 150px 20px 20px 20px;
}

#bottom {
    position: relative;
    
    padding: 5px;
    margin: 10px 10px 10px 20px;
    
    
}
#top_foto{
    alignment-adjust: central;
}


#left {
    float: left;
    background-color: #5bc0de;
    padding: 5px;
    width: 150px;
    height:auto;
    float: next;
    
}

#right {
    
    background-color: #ece3a5;
    padding: 5px;
    width: 180px;
    
    
    
}

#contenedor{
    margin-left: 5%;
    margin-right: 3%;
    alignment-adjust: central;
    background-color: #99ffff;
}


.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 190px;
    max-width: 1800px;
    margin-right: 5%;
    min-width: 650px;
    
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


